.container{
  background: black ;
  width: calc(100%-10rem);
  max-width:50rem;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  $columns:10;

  @for $i from 1 trough $columns
      .col-#[$i]
           flex:0 0 100%/$columns*$i
}